{% extends "shop_base.html" %}
{% load staticfiles %}
{% block content %}
<!-- Inner Banner Start -->
<section id="inner-banner" class="back-image-thanks">
	<div class="container">
		<div class="row">
			<div class="col-md-12 text-center">
				<div class="inner-banner-detail">
					<p><a href="/">Главная</a><span> - </span><a href="/shop/">Каталог</a></p>
					<h2>Ваш заказ отправлен</h2>
				</div>
			</div>
		</div>
	</div>
</section>
<section id="error_page" class="padding_bottom padding_top">
	<div class="container">
		<div class="row">
			<div class="col-md-2 col-sm-2"></div>
			<div class="col-md-8 col-sm-8 col-xs-12 text-center">

			<h3>Ваш заказ # {{ order.id }} от {{ order.created|date }} на сумму &#x20BD; {{ order.get_total_cost|floatformat:2 }} отправлен</h3>
			<hr>
			<p>В ближайшее время с Вами свяжется менеджер нашего магазина для подтверждения заказа
                {% if order.delivery %} и условий доставки {% endif %},
                не выключайте телефон указанный при оформлении.</p>
			<br>
			<br>
				<div class="error_img">
					<a class="btn_dark" href="/">На главную</a>
				</div>
			</div>
			<div class="col-md-2 col-sm-2"></div>
		</div>
	</div>
</section>
{% endblock content %}